/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300);

body {
    font-family: 'Open Sans';
    color: #44464b;
    background-color: #ffffff;
    margin-left: 0;
    margin-top: 5em;
}
.lindent { margin-left: 5em; }
.sending-results {
    font-weight: bold;
    font-size: medium;
}
div.bar-container {
    border: 1px solid;
    border-color: #bbbdc0;
    background-color: white;
}
div.bar {
    background-color: #01256e;
}
p.progress-text {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #44464b;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 2em;
    font-style: italic;
    font-size: small;
}
p.practice-box {
    color: #01256e;
    height: 1.5em;
    padding-bottom: 1em;
    font-size: small;
    text-align: center;
}
span.retry {
    color: #01256e;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
span.retry:hover {
    text-decoration: underline;
}
span.retry:visited {
    color: #01256e;
}